<div class="shadow-box">
				<ul>
					<li class="green-bg">ACTIVITY</li>
					<!--li><a href="">All Connection (<span class="blue-col">0</span>)</a></li>
					<li><a href="">Trusted by (<span class="blue-col">0</span>)</a></li>
					<li class="divider"></li-->
					<li class="<%= current_page(groups_all_my_ideas_path) %>"><%= link_to "My Ideas", groups_all_my_ideas_path %></li>
				</ul>
			  </div><!--/shadow-box--> 

			  <!--div class="shadow-box">
				<ul>
					<li class="yellow-bg">EXPLORE IDEAS</li>
					<li><a href="" class="bold">Startups</a></li>
					<li class="<%= current_page(groups_featured_path) %>"><%= link_to "Featured", groups_featured_path %></li>
					<li class="<%= current_page(groups_active_path) %>"><%= link_to "Most active", groups_active_path %></li>
					<li class="<%= current_page(groups_newest_path) %>"><%= link_to "Newest", groups_newest_path %></li>
					<li class="divider"></li>
					<li><a href="" class="bold">Ideas</a></li>
					<li class="<%= current_page(groups_default_path) %>"><%= link_to "All ideas", groups_default_path %></li>
				</ul>
			  </div--><!--/shadow-box--> 